[Unit]
Description=GHCiOnline Web App
After=network.target cjail.service

[Service]
Type=simple
EnvironmentFile=/etc/conf.d/ghcio
ExecStart=/var/ghcio/ghcio
Restart=on-abort
#User=ghcio

[Install]
WantedBy=multi-user.target
