@charset "UTF-8";
/* @import url(http://fonts.googleapis.com/css?family=Inconsolata); */
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);
/* @import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono); */
/* @import url(http://fonts.googleapis.com/css?family=PT+Mono); */

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#console {
  width: 100%;
  word-wrap: break-word;
  padding-bottom: 30px;
}

#prompt {
  margin-right: 5px;
}

.input {
}

#console div.jquery-console-inner {
  width: 100%;
  overflow: auto;
}

pre, code, #console div.jquery-console-inner {
  /* font-family: 'Inconsolata', monospace !important; */
  /* font-family: 'PT Mono', monospace; */
  /* font-family: 'Droid Sans Mono', monospace; */
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.3em;
}

pre, code {
  font-size: 0.85em !important;
}

.jquery-console-prompt-box {
  margin-bottom: 10px;
}

.jquery-console-focus span.blink.jquery-console-cursor:before {
  font-weight: bold;
  content: '_';
}

.jquery-console-nofocus span.jquery-console-cursor:before {
  font-weight: bold;
}

span.jquery-console-prompt-label {
  font-weight: bold;
  font-family: sans-serif;
}

.output-error {
  color: #EF0505;
  font-size: 1em;
  font-weight: bold;
}

.output-doc {
  color: #1AD027;
  font-size: 1em;
}

