@charset "UTF-8";
/* @import url(https://fonts.googleapis.com/css?family=Inconsolata); */
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
/* @import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono); */
/* @import url(https://fonts.googleapis.com/css?family=PT+Mono); */

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.brand {
  color: #DFDFDF !important;
  font-weight: bold !important;
}

.brand img {
  width: 35px;
  padding-top: 0px;
  margin-top: -6px;
  padding-right: 5px;
}

#safe-brand, #safe-brand a, #safe-brand a:visited {
  color: #FFF !important;
}

.navbar-inner {
  font-family: 'Ubuntu';
}

.navbar-inverse .navbar-inner {
  background-image: -moz-linear-gradient(top, #4B4B4B, #111) !important;
  background-image: -webkit-linear-gradient(top, #4B4B4B, #111) !important;
  background-image: -o-linear-gradient(top, #4B4B4B, #111) !important;
  background-image: linear-gradient(to bottom, #4B4B4B, #111) !important;
}

#console {
  width: 100%;
  word-wrap: break-word;
  padding-bottom: 30px;
}

#prompt {
  margin-right: 5px;
}

.input {
}

#console div.jquery-console-inner {
  width: 100%;
  overflow: auto;
}

pre, code, #console div.jquery-console-inner {
  /* font-family: 'Inconsolata', monospace !important; */
  /* font-family: 'PT Mono', monospace; */
  /* font-family: 'Droid Sans Mono', monospace; */
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.3em;
}

pre, code {
  font-size: 0.85em !important;
}

.jquery-console-prompt-box {
  margin-bottom: 10px;
}

.jquery-console-focus span.blink.jquery-console-cursor:before {
  font-weight: bold;
  content: '_';
}

.jquery-console-nofocus span.jquery-console-cursor:before {
  font-weight: bold;
}

span.jquery-console-prompt-label {
  font-weight: bold;
  font-family: sans-serif;
}

.output-error {
  color: #CE3131;
  font-weight: bold;
}

.output-doc {
  color: #1AD027;
}

