@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
/* @import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono); */
/* @import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono); */
/* @import url(http://fonts.googleapis.com/css?family=PT+Mono); */

body {
  font-family: "Monospace", sans-serif;
  background: #222;
  color: #fff;
}

#console {
  width: 100%;
  float: left;
  word-wrap: break-word;
}

#prompt {
  margin-right: 5px;
}

.input {
  background: #111;
}

.output {
  padding-left: 20px;
  border-left: 20px;
  border-left: 1px solid white;
}

#console div.jquery-console-inner {
  width: 100%;
  overflow: auto;
}

code, #console div.jquery-console-inner {
  font-size: 16px;
  font-family: 'Inconsolata', monospace !important;
  /* font-family: 'PT Mono', monospace; */
  /* font-family: 'Droid Sans Mono', monospace; */
  /* font-family: 'Ubuntu Mono', monospace; */
}

.jquery-console-prompt-box {
  color: #FFF;
  font-size: 1em;
}

.jquery-console-focus span.jquery-console-cursor {
  background: #FEFEFE;
  color: #333;
  font-weight: bold;
}

span.jquery-console-prompt-label {
  font-weight: bold
}

.output-error {
  color: #EF0505;
  font-size: 1em;
  font-weight: bold;
}

.output-value {
  color: #1AD027;
  font-size: 1em;
}

