@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
/* @import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono); */
/* @import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono); */
/* @import url(http://fonts.googleapis.com/css?family=PT+Mono); */

body {
  font-family: "Monospace", sans-serif;
  background: #000;
  color: #fff;

  text-shadow: 0 2px 2px rgba(250, 250, 250, .25);
}

/* There could be many of these. */
.keyword {
  font-weight: bold;
}

ul#autocomplete {
  position: absolute;
  margin-left: 0px;
  padding-left: 5px;
  width: 200px;
  list-style-type: none;
  color: #fff;
  text-shadow: 0 1px 2px rgba(40, 40, 40, .25);

  -webkit-box-shadow: 0px -1px 1px rgba(128,128,128,1), 0px 1px 6px rgba(0,0,0,1), 3px 1px 6px rgba(0,0,0,1);
  -webkit-border-radius: .25em;
  background: #555 -webkit-gradient(linear, left top, left bottom, from(#555), to(#333));
}

.completed {
  padding: 4px 0 3px;
  color: rgba(207, 207, 207, .65);
}

#calltips {
  position: absolute;
  margin-left: 0px;
  padding-left: 5px;
  padding-right: 5px;
  list-style-type: none;
  color: #fff;
  text-shadow: 0 1px 2px rgba(40, 40, 40, .25);

  -webkit-box-shadow: 0px -1px 1px rgba(128,128,128,1), 0px 1px 6px rgba(0,0,0,1), 3px 1px 6px rgba(0,0,0,1);
  -webkit-border-radius: .25em;
  background: #555 -webkit-gradient(linear, left top, left bottom, from(#555), to(#333));
}

.input {
  background: #111;
}

.output {
  padding-left: 20px;
  border-left: 20px;
  border-left: 1px solid white;
}

#hoverover {
  position: absolute;
  border: 1px solid gray;
}

#typeannotations {
  position: absolute;
  margin-left: 0px;
  padding-left: 5px;
  padding-right: 5px;
  list-style-type: none;
  color: #fff;
  text-shadow: 0 1px 2px rgba(40, 40, 40, .25);

  -webkit-box-shadow: 0px -1px 1px rgba(128,128,128,1), 0px 1px 6px rgba(0,0,0,1), 3px 1px 6px rgba(0,0,0,1);
  -webkit-border-radius: .25em;
  background: #555 -webkit-gradient(linear, left top, left bottom, from(#555), to(#333));
}

#console {
  width: 80%;
  float: left;
}

#sidebar {
  background: #555;
  width: 20%;
  float: right;
}

#sidelist {
  margin-left: 0px;
  padding-left: 5px;
  text-shadow: 0 1px 2px rgba(40, 40, 40, .25);
  font-size: 70%;


  list-style-type: none;
}

#prompt {
  margin-right: 5px;
}

#content {
  display: inline;
  font-size: 1em;
  font-family: 'Inconsolata', monospace;
  /* font-family: 'PT Mono', monospace; */
  /* font-family: 'Droid Sans Mono', monospace; */
  /* font-family: 'Ubuntu Mono', monospace; */
}

